* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2,
p {
    color: lightgray;
}

button {
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    font-size: 1.1em;
    background-color: #76746a;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
}

input {
    background-color: #31312e;
    color: lightgray;
    border: 1px solid black;
}

footer {
    position: absolute;
    bottom: 0.5vh;
    left: 0.5vw;
}

#add-book {
    margin: 1em;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modal-content {
    background-color: #31312e;
    color: lightgray;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}

#close {
    color: #76746a;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-container {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2vh;
    padding: 20px;
    width: 200px;
    height: 450px;
    background-color: #31312e;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.book-container:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
}

.book-title,
.book-read {
    margin-bottom: 2em;
}

.toggle-read-btn {
    background-color: #76746a;
}

.delete-item-btn {
    background-color: #d72c2c;
    font-size: 1.5em;
}